.navigation {
  width: 1170px;
  margin: 0 auto;
  min-height: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 100%;
    min-height: 50px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 100%;
    min-height: 50px;
  }
}

.navigation__logo {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 45px;
    height: 18px;
    margin-left: 21px;
    margin-top: 11px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-left: 16px;
    margin-top: 11px;
    width: 45px;
    height: 18px;
  }
}

.navigation__list {
  display: flex;
  margin-right: 14px;
  margin-top: 8px;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    display: none;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
}

.navigation__item {
  font-size: 14px;
  font-weight: 500;
  margin-left: 40px;
}

.navigation__tell {
  position: relative;
  font-size: 18px;
  line-height: 25px;
  text-decoration-line: underline;
  margin-left: 56px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../img/phone.svg");
    left: -40px;
    top: -4px;
  }
}

.navigation__button {
  display: none;
  background-image: url("../img/menu.svg");
  width: 30px;
  height: 30px;
  border: none;
  background-color: #fe7865;
  padding: 25px 36px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    display: block;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: block;
    padding: 25px 25px;
  }
}

.navigation__button-close {
  display: none;
  width: 50px;
  height: 50px;
  align-items: flex-end;
  background-image: url("../img/menu-close.svg");
  background-color: none;
  border: none;
  outline: none;
  align-self: flex-end;
}
