.places-visit__heading {
  position: relative;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.245px;
  color: #2c2e3f;

  &::before {
    content: "";
    position: absolute;
    width: 229px;
    height: 4px;
    background-image: url("../../img/border-place.svg");
    top: 189px;
  }
}

.places-visit__paragraph {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  color: rgba(44, 46, 63, 0.7);
  padding-top: 18px;
}

.places-visit__list {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1230px;
  justify-content: center;
}

.places-visit__item {
  margin-right: 60px;
  margin-bottom: 94px;
}

.places-visit__item--grecia {
  margin-right: 120px;
  margin-bottom: 0;
}

.places-visit__item--horvatia {
  margin-bottom: 0;
}

.places-visit__span {
  position: absolute;
  top: 84%;
  left: 19.3%;
  color: #2c2e3f;
  background-color: #fff;
  width: 215px;
  padding-top: 19px;
  height: 45px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.415px;
}
