body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.no-bulites {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.conteiner {
  position: relative;
}
